controlnet-aux==0.0.7
decord
git+https://github.com/vchoutas/smplx.git
libigl
loguru
mediapipe
omegaconf
open3d
plotly
pyrallis
pyrender
scikit-image
iopath
ninja
av
xatlas
plyfile
jaxtyping
#pip install setuptools==58.0.4